* {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Libre Franklin', sans-serif;
}


/*TOP NAVBAR*/

#Nav1 {
    height: 1%;
    min-height: 40px;
}

#Nav2 {
    margin-top: 40px;
    background-color: #DCEDFD;
    border: none;
    text-align: center;
    width: 100%;
    box-shadow: 0px -1px 5px black;
}

#NBB2 {
    margin-left: -20px;
    margin-top: -4px;
    color: white;
    float: left;
    position: absolute;
}

#NBB1 {
    padding: 0px 10px 0px 1px;
    margin-left: -0%;
    margin-top: -04px;
    cursor: pointer;
    cursor: hand;
    float: left;
}

#FullTNav {
    width: 100%;
}


/*Page titles*/

.PTit {
    width: 100%;
    text-align: center;
}

.PTitle {
    margin-top: 10px;
}

#PageTitle {
    color: #F2F2F2;
    margin-left: -25px;
}

.Nav2Full {
    width: 100%;
    text-align: center;
}

#Nav2Opt {
    width: 100%;
    max-height: 50px;
    text-align: center;
}

#NL {
    display: inline-block;
    float: none;
    width: 100%;
    left: -117px;
    font-family: Helvetica;
}

#NL {
    color: dimgrey;
}

#NL:hover {
    color: #e89460;
}

#NL:focus {
    color: #e89460;
}

.dropdown-menu {
    left: -147px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: dimgrey;
    background-color: #FFF;
}


/*Panels*/

.panel-parent {
    padding-top: 140px;
    text-align: center;
}

#pane {
    padding: 50px;
    height: auto;
    max-width: 75%;
    display: inline-block;
    border-radius: 5%;
    margin-bottom: -40px;
}

#AMpane {
    max-width: 100%;
    width: 100%;
}

#AMheady {
    max-width: 60%;
}

.panel {
    border-radius: 2%;
    cursor: pointer;
}

.panel:hover {
    box-shadow: 0px 0px 10px black;
}

#sidebar {
    background-color: white;
    height: 100%;
    position: fixed;
    right: 0;
}

#sidebarl {
    background-color: white;
    height: 100%;
    position: fixed;
    left: 0;
}

.boxhead {
    height: 180px;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
    width: 100%;
}

#heady {
    background-color: aliceblue;
    margin-top: -0.1px;
    padding-top: -8px;
    padding-bottom: -5px;
}


/*Jumbotron*/

.jumbotron {
    background-color: white;
    z-index: 1;
    position: relative;
    padding-top: 30px;
    margin-top: -70px;
    margin-bottom: -0px;
    color: black;
}

#JumTest {
    width: 60%;
}

.backdrop {
    background: #3ca55c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3ca55c, #b5ac49);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3ca55c, #b5ac49);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.4;
    width: 200%;
    position: absolute;
    height: 83%;
    margin-top: -10px;
    margin-left: -50%;
    z-index: -4;
    box-shadow: 0px 0px 2px black;
}


/*Item type nav*/

.navvy-listy {
    margin-top: 10px;
    max-width: 75%;
}

.navvy-itemy {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    padding: 4px;
    border: groove 0.5px #2E2E2E;
    box-shadow: 0px 0px 3px #2E2E2E;
    border-radius: 5%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 10px;
}

.navvy-itemy:hover {
    box-shadow: 0px 0px 6px black;
}

.navvy-itemy:active {
    box-shadow: 0px 0px 1px black;
}

.navvy-itemy:focus {
    box-shadow: 0px 0px 15px skyblue;
    border: groove 0.5px skyblue;
}

.icon {
    height: 25px;
    margin-right: 7px;
    margin-top: -3px;
}


/*ball chace*/

#img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 1000px;
    z-index: 999;
    cursor: pointer;
    position: absolute;
}

.score {
    position: absolute;
    margin-left: -130px;
    z-index: -2;
}

.attempts {
    padding-top: 21px;
}

.percent {
    padding-top: 42px;
}


/*Floating balls*/

#float {
    height: 100px;
    width: 100px;
    background-color: rgba(200, 100, 200, 0.4);
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25px;
}

#floatC {
    height: 150px;
    width: 150px;
    background-color: ;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin-left: 500px;
    margin-top: 300px;
}


/*Form stuff*/

.fhead {
    margin-bottom: 30px;
    margin-top: 30px;
}

.submit {
    font-size: 1.5em;
    padding: 4px;
    padding-left: -300px;
    width: 100px;
    margin-left: 50%;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0px 0px 3px black;
    border: 1px solid gray;
}

.submit:active {
    box-shadow: 0px 0px 1px black;
}

input {
    width: 10px;
    border-radius: ;
    height;
    20px;
    border: none;
    border-bottom: 2px solid #8B8B97;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    word-wrap: break-word;
    word-break: break-all;
}

input[type=text]:focus {
    border-bottom: 2px solid #03080E;
    outline: none;
}

#message {
    width: 10px;
    border-radius: ;
    height;
    20px;
    border: none;
    text-align: center;
    border-bottom: 2px solid #8B8B97;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 60%
}

#message:focus {
    border-bottom: 2px solid #03080E;
    outline: none;
}


/*About me page*/

.aboutcont {
    font-size: 1.3em;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    z-index: -1;
    position: relative;
}

.aboutimg {
    height: 70%;
    position: relative;
    margin-top: 16%;
}

.midimage {
    left: 50%;
    right: 50%;
    position: relative;
    height: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.midimage1 {
    left: 50%;
    position: relative;
    height: 150px;
    margin-bottom: 40px;
    margin-left: -20px;
}
