* {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Libre Franklin', sans-serif;
}


/*TOP NAVBAR*/

#Nav1 {
    height: 1%;
    min-height: 40px;
}

#Nav2 {
    margin-top: 40px;
    background-color: #DCEDFD;
    border: none;
    text-align: center;
    width: 100%;
    box-shadow: 0 -1px 5px black;
}

#NBB2 {
    margin-left: -20px;
    margin-top: -4px;
    color: white;
    float: left;
    position: absolute;
}

#NBB1 {
    padding: 0 10px 0 1px;
    margin-left: -0;
    margin-top: -04px;
    cursor: pointer;
    cursor: hand;
    float: left;
}

#FullTNav {
    width: 100%;
}


/*Page titles*/

.PTit {
    width: 100%;
    text-align: center;
}

.PTitle {
    margin-top: 10px;
}

#PageTitle {
    color: #F2F2F2;
    margin-left: -25px;
}

.Nav2Full {
    width: 100%;
    text-align: center;
}

#Nav2Opt {
    width: 100%;
    max-height: 50px;
    text-align: center;
}

#NL {
    display: inline-block;
    float: none;
    width: 100%;
    left: -117px;
    font-family: Helvetica;
    color: dimgrey;
}

#NL:hover {
    color: #e89460;
}

#NL:focus {
    color: #e89460;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: dimgrey;
    background-color: #FFF;
}

@media(max-width: 768px) {
    #Nav2Opt {
        max-height: 300px;
        margin-left: -0;
    }
    #NL {
        left: -0;
    }
}


/*Panels*/

.panel-parent {
    padding-top: 140px;
    text-align: center;
}

#pane {
    padding: 50px;
    height: auto;
    max-width: 75%;
    display: inline-block;
    border-radius: 5%;
    margin-bottom: -40px;
}

#AMpane {
    max-width: 100%;
    width: 100%;
}

#AMheady {
    max-width: 60%;
}

.panel {
    border-radius: 2%;
    cursor: pointer;
}

.panel:hover {
    box-shadow: 0 0 10px black;
}

#sidebar {
    background-color: white;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: -5;
}

#sidebarl {
    background-color: white;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: -5;
}

.boxhead {
    height: auto;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
    width: 100%;
    overflow: hidden;
}

#heady {
    background-color: aliceblue;
    margin-top: -0.1px;
    padding-top: -8px;
    padding-bottom: -5px;
}

.headimg {
    position: relative;
    top: 50%;
    transform: translateY(-0%);
}

.itemtext {
    color: black;
}

@media(max-width: 992px) {
    #pane {
        width: 50%
    }
    .panel-parent {
        width: 100%;
    }
    #floatC {
        display: none;
        margin-left: -100px;
    }
    #float {
        display: none;
        margin-left: -100px;
    }
}

@media(max-width: 767px) {
    #pane {
        width: 80%;
        max-width: 100%;
    }
    .panel-parent {
        width: 100%;
    }
}

@media(max-width: 569px) {
    #pane {
        width: 100%;
        max-width: 100%;
    }
    .panel-parent {
        width: 100%;
    }
}


/*Jumbotron*/

.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    position: relative;
    padding-top: 30px;
    margin-top: -70px;
    margin-bottom: -0px;
    color: black;
}

.contentfillr {
    height: 320px;
    max-height: 320px;
    background-color: gray;
}

#JumTest {
    width: 60%;
}

.backdrop {
    opacity: 0.4;
    width: 100%;
    position: absolute;
    margin-top: -10px;
    left: -0%;
    z-index: -4;
    box-shadow: 0px 0px 10px black;
}

.articleHead {
    margin: 0 auto;
    display: block;
    max-height: 370px;
}

.articlesubimage {
    margin: 0 auto;
    max-width: 80%;
}

.articlefiller {
    height: 20px;
}

.articlejumbo {
    max-height: 390px;
    text-align: center;
    display: block;
}

#backdrop1 {
    background-color: #ac8100;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c39b00' fill-opacity='0.43' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    height: 260px;
}

#contentbackdrop1 {
    background-color: #ac8100;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c39b00' fill-opacity='0.43' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    height: 100px;
}

#backdrop2 {
    background: -moz-linear-gradient(89deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(140,190,194,1)), color-stop(100%, rgba(255,255,207,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(89deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(89deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(89deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* ie10+ */
background: linear-gradient(1deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8CBEC2', endColorstr='#FFFFCF',GradientType=0 ); /* ie6-9 */
    height: 250px;
}

#contentbackdrop2 {
      background: -moz-linear-gradient(89deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(140,190,194,1)), color-stop(100%, rgba(255,255,207,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(89deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(89deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(89deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* ie10+ */
background: linear-gradient(1deg, rgba(255,255,207,1) 0%, rgba(140,190,194,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8CBEC2', endColorstr='#FFFFCF',GradientType=0 ); /* ie6-9 */
    height: 100px;
}

#backdrop3 {
    background-color: #e5df9a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23879d03' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    height: 270px;
}

#backdrop4 {
    background-color: #7eabb4;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%230b5d81' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 160px;
}

#backdropindex {
    height: 270px;
    background: -moz-linear-gradient(92deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 128, 128, 1)), color-stop(100%, rgba(153, 218, 255, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(92deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(92deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(92deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* ie10+ */
    background: linear-gradient(358deg, rgba(153, 218, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#99DAFF', GradientType=0);
    /* ie6-9 */
    opacity: 0.6;
}

@media screen and (max-width: 1200px) {
    #backdrop2 {
        padding-bottom: 310px;
    }
}

@media screen and (max-width: 995px) {
    #backdrop2 {
        padding-bottom: 370px;
    }
    #backdrop3 {
        padding-bottom: 260px;
    }
    #backdrop4 {
        padding-bottom: 20px;
    }
}

@media(max-width: 946px) {
    #backdrop1 {
        padding-bottom: 380px;
    }
}

@media(max-width: 829px) {
    #backdrop4 {
        padding-bottom: 220;
    }
}


@media screen and (max-width: 770px) {
    #backdrop1 {
        padding-bottom: -0px;
    }
    #backdrop2 {
        padding-bottom: 270px;
    }
    #backdrop3 {
        padding-bottom: 0;
    }
}

@media(max-width: 763px) {
    #backdrop4 {
        top: -20px;
    }
}

@media screen and (max-width: 660px) {
    #backdrop1 {
        padding-bottom: 310px;
    }
}

@media screen and (max-width: 570px) {
    #backdrop2 {
        padding-bottom: 300px;
    }
}

@media screen and (max-width: 520px) {
    #backdrop1 {
        padding-bottom: 370px;
    }
}

@media screen and (max-width: 562px) {
    #backdrop1 {
        padding-bottom: 325px;
    }
}

@media screen and (max-width: 558px) {
    #backdrop2 {
        padding-bottom: 330px;
    }
}

@media screen and (max-width: 523px) {
    #backdrop1 {
        padding-bottom: 365px;
    }
}

@media screen and (max-width: 502px) {
    #backdrop1 {
        padding-bottom: 395px;
    }
}

@media screen and (max-width: 494px) {
    #backdrop2 {
        padding-bottom: 380px;
    }
    #backdrop1 {
        padding-bottom: 400px;
    }
    #backdrop3 {
        padding-bottom: 320px;
    }
}

@media(max-width: 447px) {
    #backdrop4 {
        padding-bottom: 250;
    }
}

@media screen and (max-width: 393px) {
    #backdrop2 {
        padding-bottom: 430px;
    }
    #backdrop3 {
        padding-bottom: 380px;
    }
}


/*Item type nav*/

.navvy-listy {
    margin-top: 10px;
    max-width: 75%;
}

.navvy-itemy {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    padding: 4px;
    border: groove 0.5px #2E2E2E;
    box-shadow: 0px 0px 3px #2E2E2E;
    border-radius: 5%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 10px;
}

.navvy-itemy:hover {
    box-shadow: 0px 0px 6px black;
}

.navvy-itemy:active {
    box-shadow: 0px 0px 1px black;
}

.navvy-itemy:focus {
    box-shadow: 0px 0px 15px skyblue;
    border: groove 0.5px skyblue;
}

.icon {
    height: 25px;
    margin-right: 7px;
    margin-top: -3px;
}


/*ball chace*/

#img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 1000px;
    z-index: 999;
    cursor: pointer;
    position: absolute;
}

.score {
    position: absolute;
    margin-left: -130px;
    z-index: -2;
}

.attempts {
    padding-top: 21px;
}

.percent {
    padding-top: 42px;
}


/*Floating balls*/

#float {
    height: 100px;
    width: 100px;
    background-color: rgba(200, 100, 200, 0.4);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -100px;
    margin-top: 70px;
    z-index: 100;
    outline: none;
}

#floatC {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    z-index: 999;
    outline: none;
}


/*Form stuff*/

.fhead {
    margin-bottom: 30px;
    margin-top: 30px;
}

.submit {
    font-size: 1.5em;
    padding: 4px;
    width: 100px;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0px 0px 3px black;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    font-weight: bold;
}

.submit:active {
    box-shadow: 0px 0px 1px black;
}

.subcont {
    width: 100%;
    text-align: center;
    height: 10px;
}

input {
    width: 10px;
    border: none;
    border-bottom: 2px solid #8B8B97;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    word-wrap: break-word;
    word-break: break-all;
}

input[type=text]:focus {
    border-bottom: 2px solid #03080E;
    outline: none;
}

#message {
    width: 10px;
    border: none;
    text-align: center;
    border-bottom: 2px solid #8B8B97;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 60%
}

#message:focus {
    border-bottom: 2px solid #03080E;
    outline: none;
}


/*About me page*/

.aboutcont {
    font-size: 1.3em;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    z-index: -1;
    position: relative;
}

.aboutimg {
    height: 70%;
    position: relative;
    margin-top: 16%;
}

.midimage {
    position: relative;
    height: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 0 auto;
}

.midimage1 {
    position: relative;
    height: 190px;
    margin: 0 auto;
}

.aboutImageCont {
    text-align: center;
    width: 100%;
}

.aboutText {
    margin-top: 15px;
    margin-bottom: 15px;
}

.CatchGameTrack {
    float: left;
    position: absolute;
    margin-top: 45px;
    font-size: .35em;
    width: 130px;
}


/*Video page*/

.theballpit {
    padding: 310px 0px;
}

.filmjumbo {
    height: 90px;
}

.filmhead {
    margin-top: 10px;
}

.videocont {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.videoitem {
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    box-shadow: 0px 0px 5px gray;
}

.video {
    padding: 10px;
}

.filminfobox {
    width: 100%;
    text-align: center;
}

.filmtext {
    margin-top: 10px;
    font-size: 1.2em;
    max-width: 80%;
    display: inline-block
}

.filmimg {
    display: inline-block;
    max-width: 48%;
    margin-bottom: 20px;
}


/*Image pages*/

.portfolioImage {
    max-height: 600px;
    margin-top: 30px;
    max-width: 80%;
    width: auto;
}


/*Footer!*/

.footer {
    margin-top: 90px;
    width: 100%;
    background-color: #3F3F3F;
    position: absolute;
    margin-bottom: -100%;
}

.footer-words {
    color: #C0C0C0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: .9em;
}

.footcol {
    display: inline-block;
    width: 33%;
    padding-top: 5px;
    height: 11px;
}

#footcont {
    text-align: center;
}

#footword {
    right: 10px;
    text-align: right;
}

#footatt {}

#foot {
    color: #23A3FF;
}

#foot:hover {
    color: #4BB3FF;
}

.contpage {
    position: absolute;
    display: inline-block;
    margin-top: 197px;
}

@media(max-width: 1465px) {
    #footatt,
    #footword {
        bottom: 10px;
        position: absolute;
    }
    .footcol {}
}

@media(max-width: 847px) {
    #footatt,
    #footword {
        bottom: 20px;
        position: absolute;
    }
    .contpage {
        margin-top: 0px;
    }
    #footword {
        width: 110px;
        bottom: 12px;
    }
    .footer {
        height: 80px;
        margin-top: 6em;
    }
}

@media(max-width: 770px) {
    .footer {
        height: 100px;
        margin-top: 6em;
    }
}

@media(max-width: 529px) {
    #footatt,
    #footword {
        bottom: 30px;
        position: absolute;
    }
    #footword {
        width: 110px;
        bottom: 22px;
    }
    .footer {
        height: 100px;
    }
}

@media(max-width: 485px) {
    #footatt,
    #footword {
        bottom: 45px;
        position: absolute;
    }
    #footword {
        width: 110px;
        bottom: 32px;
    }
    .footer {
        height: 130px;
    }
}

@media(max-width: 356px) {
    #footatt,
    #footword {
        bottom: 45px;
        position: absolute;
    }
    #footword {
        width: 110px;
        bottom: 32px;
    }
    .footer {
        height: 150px;
    }
}


/*Header hover*/

#LOGOBIT:hover {
    filter: sepia() saturate(10000%) hue-rotate(170deg);
}


/*Lotto game*/

.lottocont {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.lottoitem {
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    box-shadow: 0px 0px 5px gray;
    height: 200px;
}

.game {
    padding: 10px;
}

#lottohead {
    display: block;
    font-size: 4em;
    position: relative;
    text-align: center;
    font-family: "Laila", serif;
}

.CompParent {
    width: 100%;
    position: relative;
    text-align: center;
}

.CL {
    width: 1.5em;
    font-size: 4em;
    margin-left: .8%;
    margin-right: .8%;
    height: 1.5em auto;
    display: inline-block;
    background-color: beige;
    border: 1px solid black;
    font-family: "Laila", sans-serif;
}

.PeeP {
    width: 100%;
    margin-top: 40px;
    margin-bottom: -10px;
    text-align: center;
}

.PP {
    width: 100%;
    height: 30px;
    margin-top: 26px;
    text-align: center;
}

.Gen {
    width: 120px;
    height: auto;
    font-size: 2em;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    border: 1px solid black;
    -webkit-user-select: none;
    background-color: burlywood;
    font-family: "Laila", sans-serif;
}

.Gen:active {
    margin-top: 2px;
}

.Aut {
    width: 120px;
    height: auto;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    -webkit-user-select: none;
    background-color: burlywood;
    font-family: "Laila", sans-serif;
}

.Aut:active {
    margin-top: 2px;
}

#goo {
    height: 40px;
    font-family: "Laila", sans-serif;
}

.Parent {
    width: 100%;
    text-align: center;
}

.Pick {
    padding: .7% .4% .7% .4%;
    margin: 0% .5% 0% .5%;
    width: 4%;
    min-width: 70px;
    min-height: 60px;
    text-align: center;
    font-size: 3.5em;
}

.moneyP {
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: 30px;
}

.money {
    font-size: 2em;
    font-family: "Laila", sans-serif;
    display: inline-block;
    margin-right: 100px;
}

.userMoney {
    font-size: 2em;
    font-family: "Laila", sans-serif;
    display: inline-block;
}

.Winnings {
    font-size: 2em;
    font-family: "Laila", sans-serif;
    display: inline-block;
}

.userWin {
    font-size: 2em;
    font-family: "Laila", sans-serif;
    display: inline-block;
}

.weekP {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.week {
    font-size: 1.5em;
    font-family: "Laila", sans-serif;
}


/*Index*/

.indexArticle {
    margin-bottom: -30px;
}

.indexCraft {
    margin-top: 40px;
    margin-bottom: -30px;
}

.indexLink {
    z-index: 5;
    margin: 1px;
    background-color: red;
    width: 100%;
    height: 10px;
}


/*Stroop says*/

.globalcontainer {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 50px;
}

.header {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.instructions {
    font-size: 1.2em;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.scorecont {
    font-size: 1.1em;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -10px;
}

.score {
    font-size: 3em;
    margin: 0 auto;
    width: 100%;
    left: 0;
    margin-top: -50px;
}

.scoreword {
    margin: 0 auto;
}

.buttonscontainer {}

.button {
    height: 120px;
    width: 170px;
    background-color: burlywood;
    display: inline-block;
    margin-top: 13px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px black;
    cursor: pointer;
    font-size: 2.5em;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    font-family: 'Alfa Slab One', cursive;
}

.button:active {
    box-shadow: 0px 1px 2px black;
    font-size: 2.45em;
    margin-bottom: -1px;
}

#button0 {
    color: blue;
    margin-right: 10px;
}

#button1 {
    color: yellow;
}

#button2 {
    color: red;
    margin-right: 10px;
}

#button3 {
    color: green;
}

.strooptext {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.startbuttoncont {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.startbutt {
    margin: 0 auto;
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #A78A7F;
    box-shadow: 0px 3px 4px black;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    cursor: pointer;
}

.startbutt:active {
    box-shadow: 0px 1px 2px black;
    font-size: 1.78em;
}

.TEST {
    margin-top: 20px;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}


/*text media queries*/

@media(max-width: 1000px) {
    .filmtext {
        font-size: 1.25em;
    }
}

@media(max-width: 1200px) {
    .CatchGameTrack {
        visibility: hidden;
    }
    #img {
        left: 0;
        display: none;
    }
}
@media(max-width: 958px) {
    #backdropindex {
        height: 370px;
    }
}
@media(max-width: 895px) {
    #backdrop3 {
        padding-bottom: 360px;       
    }
}

@media(max-width: 768px) {
    #backdropindex {
        height: 270px;
    }
    #backdrop3 {
        top: -40px;       
    }
}

@media(max-width: 628px) {
    #backdropindex {
        height: 300px;
    }
}
@media(max-width: 570px) {
    #backdropindex {
        height: 320px;
    }
}
@media(max-width: 524px) {
    #backdropindex {
        height: 360px;
    }
}
@media(max-width: 500px) {
    .filmtext {
        font-size: 1.2em;
    }
    #backdropindex {
        height: 390px;
    }
    #backdrop3 {
        height: 430px;
    }
}
@media(max-width: 446px) {
    #backdropindex {
        height: 440px;
    }
}
@media(max-width: 438px) {
    #backdrop1 {
        height: 430px;
    }
}

.embed-responsive-16by9 {
  padding-bottom: 100%;
}