//TOP NAVBAR
#Nav1 {
    height: 1%;
    min-height: 40px;
}
#Nav2 {
    margin-top: 40px;
    background-color: aliceblue;
    border: none;
    text-align: center;
    width: 100%;
}
#NBB2 {
    margin-left: -20px;
    margin-top: -4px;
    color: white;
    float: left;
    position: absolute;
}
#NBB1 {
    padding: 0px 10px 0px 1px;
    margin-left: -0%;
    margin-top: -04px;
    cursor: pointer;
    cursor: hand;
    float: left;
}
#FullTNav {
    width: 100%;
}
#PageTitle {
    margin-top: -50px;
    color: gainsboro;
}
.PTitle {
    width: 100%;
    margin-left: 50%;
    margin-right: 50%
}
.Nav2Full {
    width: 100%;
    text-align: center;
}
#Nav2Opt {
    width: 100%;
    max-height: 50px;
    text-align: center;
}
#NL {
    display: inline-block;
    float: none;
    width: 100%;
    left: -140px;
}
#NL:hover {
    color: dimgray;
}
.dropdown-menu {
    left: -147px;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: dimgrey;
    background-color: #BFE1FF;
}
    
.panel-parent {
  padding-top: 140px; 
  text-align: center;
  }

#pane {
  padding: 50px;
  max-width: 600px;
  display: inline-block;
  }