.appcont {
    width: 100%;
    text-align: center;
}

.apptitle {
    font-size: 2.5em;
}

.randomiseButt {
    background-color: burlywood;
    height: 45px;
    width: 310px;
    padding: 4px;
    font-size: 1.6em;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px black;
    border: 1px solid #D18F6C;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: hand;
    cursor: pointer;
    z-index: 8;
}

.randomiseButt:active {
    box-shadow: 0 1px 3px black;
}

.gradecont {
    width: 250px;
    margin-top: -5px;
    margin-left: -10px;
    margin-bottom: 25px;
    display: inline-block;
}

.actualgradebutton {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 50px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: hand;
    cursor: pointer;
    font-size: 2em;
}

.actualgradebutton:active {
    box-shadow: 0 1px 2px grey;
}


.gradesbuttons {
    width: 400px;
    position: absolute;
    margin-top: -52px;
    z-index: -1;
    right: -400px;
}

.clefcont {
    width: 250px;
    margin-top: 25px;
    margin-left: -10px;
    display: inline-block;
}

.optionstitle {
    border: 2px solid gray;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    font-family: 'Stoke', serif;
    font-weight: bold;
}

.actualclefbutton {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    height: 55px;
    width: 55px;
    margin-top: 10px;
    box-shadow: 0 2px 4px grey;
    border-radius: 10px;
    cursor: hand;
    cursor: pointer;
}

.actualclefbutton:active {
    box-shadow: 0 1px 2px grey;
}

.clefimage {
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.checkcont {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 0;
    margin-left: -10px;
    margin-top: 10px;
    display: inline-block;
    position: relative;
}

.checktitle {
    border: 2px solid #959799;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-family: 'Stoke', serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -5px;
}

.actualcheckbutton {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    width: 55px;
    box-shadow: 0 2px 4px grey;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: hand;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.minortit {
    border: 2px solid #959799;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-family: 'Stoke', serif;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    position: relative;
    top: -5px;
}

.harmtit {
    width: 36%;
    border-color: #C5C7C9;
}

.simpleminor {
    display: none;
}

.actualhintsbutton:active {
    box-shadow: 0 1px 2px grey;
}

.hintscont {
    width: 250px;
    margin: 0 auto;
    margin-top: 55px;
    margin-left: -10px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
}

.actualhintsbutton {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 65px;
    margin-top: 10px;
    box-shadow: 0 2px 4px grey;
    border-radius: 10px;
    font-size: 2em;
    cursor: hand;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.actualhintsbutton:active {
    box-shadow: 0 1px 2px grey;
}

.hintstoggle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mainbox {
    border: 2px solid grey;
    margin: 0 auto;
    margin-top: 20px;
    height: 600px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 1000px;
}


.buttonactive {
    background-color: #8DAF7E;
    box-shadow: 0 1px 2px grey;
}

.buttoninactive {
    background-color: #FF8763;
    opacity: 0.6;
    box-shadow: 0 2px 5px #27303A;
}

.resultproto {
    font-size: 20px;
    margin-top: 10px;
}

.scaletitle {
    font-size: 1.8em;
    margin-top: 30px;
}

.test {
    margin-top: 30px;
}

#scalestaff {
    margin-top: -60px;
}

.arptitle {
    font-size: 1.8em;
    z-index: 5;
    margin: 0 auto;
    margin-top: -180px;
    position: relative;
}

.optionscont {
    height: 100%;
    width: 270px;
    position: fixed;
    right: -270px;
    top: 90px;
    z-index: 1;
    overlow: hidden;
    padding-top: 30px;
    background-color: #EFD2C9;
    text-align: center;
}

.testcont {
    width: 300px;
    margin: 0 auto;
}

.actualtestbutton {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    margin-top: 10px;
    box-shadow: 0 2px 4px grey;
    border-radius: 10px;
    font-size: 1.45em;
    cursor: hand;
    cursor: pointer;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.menutoggle {
    background-color: #EFD2C9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 70px;
    position: absolute;
    right: 0;
    top: 150px;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    box-shadow: -2.8px 2px 3px grey;
}

.menuimg {
    height: 55px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.mainbox {
    margin: 0 auto;
    margin-top: 20px;
    height: 600px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.menushadow {
    box-shadow: -2px 0 3px grey;
    position: absolute;
}

.scalespagecont {
    margin-top: -55px;
}
