.btn-fullscreen {
    display: block;
    width: 29px;
    height: 29px;
    padding: 2px;
    margin: 10px auto;
    background-color: rgba(20,134,205,1);
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.btn-fullscreen img {
    width: 25px;
    height: 25px;
    border: none !important;
}
p.link-riddle {
    text-align: center;
    padding-left: 20px;
    font: inherit;
    font-size: 80%;
    max-width: 95%;
}
p.link-riddle a {
    color: inherit;
}
