:root {
  --font-color-main: #292f33 ;
  --font1: 'Martel', serif;
  --font2: 'Zilla Slab', serif;
  --font3: 'Vidaloka', serif;
  --font4: 'EB Garamond', serif;
  --font5: 'Podkova', serif;
  --font6: 'Cantata One', serif;
  --font7: 'Cormorant Garamond', serif;
  --font8: 'IBM Plex Serif', serif;
  --font9: 'Inknut Antiqua', serif;
  --font10: 'Special Elite', Courier, cursive;
}

@font-face {
font-family: "Courier Prime";
src: url("../fonts/CourierPrime.ttf");
}

@font-face {
font-family: "Courier Prime";
src: url("../fonts/CourierPrimeItalic.ttf");
    font-style: italic;
}

@font-face {
font-family: "Courier Prime";
src: url("../fonts/CourierPrimeBold.ttf");
    font-weight: bold;
}

@font-face {
font-family: "Courier Prime";
src: url("../fonts/CourierPrimeBoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
font-family: "Courier Prime Medium";
src: url("../fonts/CourierPrime-Medium.ttf");
}

@font-face {
font-family: "Courier Prime SemiBold";
src: url("../fonts/CourierPrime-SemiBold.ttf");
    font-style: italic;
}

p {
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-indent: 2.4rem;
  font-family: var(--font2);
  margin: 3px 0px 0px  0px;
  color: var(--font-color-main);
}

a {
  color: var(--font-color-main);
}

div {
  display: block;
}

hi {
      background-image: linear-gradient(orange 80%, transparent 90%);
background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 7px 8px;
}

hi:hover {
  transition: all 200ms cubic-bezier(0.5, 0, 1, 1);
  background-color: orange;
  cursor: pointer;
}

span {
  display: none;
}

.disabled {
  display: none; }

span.enabled {
  display: inline; }

.container {
  width: 75%;
  height: auto;
  margin-top: 60px;
  max-width: 750px;
  margin: 15vh auto 100px;
  padding: 0 20px;
}

/*Test*/

.screenbox {
    list-style: none;
    padding: 5px 14px;
}

.screenbox li { font: 1.2rem Courier, fixed; }

.sceneheader, .action, .character { padding-top: 1.5ex; }

.action { padding-right: 5%; }

.character { margin-left: 40%; }

.dialogue { margin-left: 25%; padding-right: 25%; }

.parenthetical { margin-left: 32%; padding-right: 30%; }



hi:hover {
    position: relative;
}
hi:hover:after {
    content: url(../assets/dande.png); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 100px; /* change this value to one that suits you */
    top: 30px; /* change this value to one that suits you */
}




.test1 li {
    font-family: Courier Prime, serif;
}

.test2 li {
    font-family: Courier Prime Medium, serif;
}

.test3 li {
    font-family: Courier Prime SemiBold, serif;
}